[user]
	name = Chris Chou
	email = chhschou@gmail.com

[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = diff-so-fancy | less -FXRi

[color]
	ui = auto
[credential]
	helper = /home/chhschou/.zplugin/plugins/gitahead---gitahead/GitAhead/git-credential-libsecret
