[user]
	name = Chris Chou
	email = chhschou@gmail.com

[includeIf "gitdir:~/vizexplorer/"]
  path = ~/vizexplorer/.gitconfig

[core]
  excludesfile = /home/cchou/.gitignore
  editor = nvim

[color]
	ui = auto
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
